/* Reset básico */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   /* Reset básico */
   :root{
    --body:#fda481;
    --link:#37415c;
    --link_background:#54162B;
    --back_header:#b4182D;
   }